@charset "UTF-8";


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}


:root {
   --cor0:   #c5ebd6;
   --cor1:   #71da8b;
   --cor2:   #3ddc84;
   --cor3:   #2fa866;
   --cor4:   #1a5c37;
   --cor5:   #084924;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', 'sans-serif';
   --font-android: 'Android', 'cursive';
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.7em;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color:white;
    font-family: var(--fonte-destaque);
    margin-top: 30px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.664);
    padding-bottom: 10px;
    margin-bottom: 20px;

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
}

div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

main > article > h1 {
    color:var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main > article> h2 {
   font-family: var(--font-android);
   color:var(--cor4);
   font-size: 1.3em;
   font-weight: normal;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   text-indent: 8px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

main img {
    width: 100%;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    margin-left: 2px;
    margin-right: 2px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer a {
    color:white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

aside {
    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.287);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}



