@charset "UTF-8";

/* 
Em HTML é id e em CSS é # (só pode um elemento)
Em HTML é class e em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(186, 245, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: rgb(15, 116, 2);
}

#principal {
 text-align: center;
 background-color:rgb(15, 116, 2);
 color: white;
}


h2 {
color: rgb(72, 109, 60);
}

.basico {
 color:  rgb(59, 139, 32);
}

.intermediario {
 color: rgb(187, 187, 13);
}

.avancado {
 color: rgb(170, 19, 19);
}

.destaque {
    background-color: rgba(192, 192, 118, 0.705);
}