@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
        width: 100px;
    }

    main {
        width: 768px;
    }
}