@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(177, 173, 173);
}

header > h1 {
     padding: 10px;
     text-align: center;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(68, 64, 64);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu a:hover {
    background-color: gray;
}

span#burguer {
    background-color: rgb(49, 49, 49);
    display:block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}