@charset "UTF=8";

/* Todas as demais mídias */

/* Typical Device Brakpoints
Pequenas telas: até 600px
Celular:  600px até 800px
Tablet: 800px até 1000px
Desktop:  1000px até 1300px
Grandes telas: acima de 1300px
*/

@media print { /* IMPRESSÃO */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image:url(../imagens/back-print.jpg) ; /* desnecessário */
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.daviroda.com';
        text-decoration: overline;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display:block; }
    img#pc { display: none; }
    img#tv { display:none; }

}

@media screen and (min-width: 800px) and (max-width: 1000px) { /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

        img#phone { display: none; }
        img#tablet { display: block; }
        img#print { display:none; }
        img#pc { display: none; }
        img#tv { display:none; }
    
}

@media screen and (min-width: 1000px) and (max-width: 1300px)  { /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

        img#phone { display: none; }
        img#tablet { display: none; }
        img#print { display:none; }
        img#pc { display: block; }
        img#tv { display:none; }
    }
    


@media screen and (min-width: 1300px)  { /* TELAS GRANDES */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    
    main {
        width: 700px;
    }

        img#phone { display: none; }
        img#tablet { display: none; }
        img#print { display:none; }
        img#pc { display: none; }
        img#tv { display:block; }

}